* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.info {
    max-width: 550px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.obj {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: bisque;
    font-size: 20px;
}

h2 {
    font-size: 28px;
    color: #a16f31;
}